---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&line_items[0][price_data][currency]=brl&line_items[0][price_data][product_data][name]=Unique+Product+Name&line_items[0][price_data][unit_amount]=6210&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Fwww.example.com%2Fcheckout%2Fsuccess&cancel_url=http%3A%2F%2Fwww.example.com%2Fcheckout%2Fcancel
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - db6d678c-809e-479d-b9a6-31a482b2d1cd
      Stripe-Version:
      - 2024-12-18.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db6d678c-809e-479d-b9a6-31a482b2d1cd
      Original-Request:
      - req_AsAFRhampHiUjK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a16OHoI2X3VgxkjasOvrqT3zvWEyX4DPBEPKLY6vzegnY5K8ueAB3p8dnK",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 6210,
          "amount_total": 6210,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://www.example.com/checkout/cancel",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1737309333,
          "currency": "brl",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "if_required",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1737395733,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://www.example.com/checkout/success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a16OHoI2X3VgxkjasOvrqT3zvWEyX4DPBEPKLY6vzegnY5K8ueAB3p8dnK#fidkdWxOYHwnPyd1blpxYHZxWjA0VGwxYGRNd2sxNWhnRGhyV0tkT2tcVTZ9UF9hTExSSzwzZm9vMzVkdV81PVByN21tQFx1QDF2c2pSMXRuNUlDVW1sQUdxT1BjajQ3VHVyYWJJUlJySWt2NTVEd3Ixf3BocCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Sun, 19 Jan 2025 17:55:34 GMT
recorded_with: VCR 6.3.1
